@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    @apply bg-[#F6F6F6]

}
.widthMd{
    @apply w-[min(100%,38rem)]
}
.original-border {
    width: 280px;
    height: 200px;
    border-radius: 10px;
    background-color: #eeeeee;
    border: 1px dashed #0654B0;
  }
  .dashboard-dimensions{
    @apply md:bg-[#FFFFFF] md:h-[80%] py-3 md:w-[70%] text-center mx-auto my-auto flex flex-col gap-3
  }
  @layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}
